<%= stylesheet_link_tag "/stylesheets/friends" %>
    <div class="row">
        <div class="column">
            <% if @user.friend_requests? %>
                <h3>Friend Requests</h3>
                <% @requests.each do |friend| %>
                    <%= friend.name%>
                    <%= form_tag ({controller: 'friends', action: 'add', method: 'post', id: friend.id}) do %>
                        <input class="c-button-green" type=submit value='Accept'>
                    <% end %>
                    <br>
                    <%= form_tag ({controller: 'friends', action: 'reject', method: 'post', id: friend.id}) do %>
                        <input class="c-button-cancel" type=submit value='Politely Refuse'>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <div class="column">
            <% if @user.requested_friends? %>
                <h3>Pending</h3>
                <% @pending.each do |friend| %>
                    <li>
                    <%= friend.name%>
                    </li>
                <% end %>
            <% end %>
        </div>

        <div class="column">
                <h3>Your Friends</h3>
            <% if @user.friends? %>
                <% @friends.each do |friend| %>
                    <li>
                    <%= link_to  friend.name, user_path(friend) %>
                    </li>
                <% end %>
            <% end %>
        </div>

        <div class="column">
            <h3>Find Friends</h3>
            <%= form_tag ({controller: 'friends', action: 'search'}) do %>
                <div class="ui input">
                    <input type="text" name="search" id="search">
                </div>
                <br>
                <input class="c-button" type="submit" name="commit" value="Search" data-disable-with="Search">
            <% end %>
        </div>

        <div class="column">
            <h3>All users</h3>
            <% @user.not_friends.sample(5).each do |user| %>
                <%= link_to user.name, user_path(user) %>
                <div class="ui basic segment">
                    <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: user.id}) do %>
                        <input class="c-button" type=submit value='Add Friend'>
                    <% end %>
                </div>
            <% end %>
        </div>
